body {
    
    background-image: url('../img/tallWeather.png');
    background-repeat: no-repeat;
    
}

h1 {
    
    font-family: 'Open Sans Condensed', sans-serif;
    margin: auto 11em;
    
    
}

.q {
    
    margin: auto 5em;
    padding-top: 5em;
}

.temp {
    padding-top: 2em;
}